@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
html {
  font-family: "Poppins";
  justify-content: center;
  width: 100%;
  height: 100%;
}
body {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

nav {
  background-color: #b8ddfcdc;
  display: flex;
  height: 2rem;
  align-items: center;
}

.nav-header {
  margin: 1rem;
  font-weight: 300;
}

.options-bar {
  width: fit-content;
  height: fit-content;
  width: 80%;
  display: flex;
}
.button-cont {
  display: flex;
  align-items: center;
}
.option-button {
  font-family: "Poppins";
  height: fit-content;
  font-size: 14px;
  margin: 1rem;
  margin-left: 0.3rem !important;
  margin-right: 2rem !important;
  padding: 0;
  color: #161a4ec5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 100%;
  vertical-align: middle;
}
.fas .far {
  vertical-align: middle;
}
#visualize {
  display: flex;
  padding: 0.5rem;
  margin-right: 1.5rem !important;
  height: fit-content;
  border-color: rgb(61, 184, 157);
  color: rgb(61, 184, 157);
  border-style: solid;
  border-width: 0.1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-weight: 300;
}
.visualize-cont {
  font-family: "Poppins";
  height: fit-content;
  font-size: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 100%;
  vertical-align: middle;
  margin: 0 !important;
  margin-left: 0.3rem !important;
  padding: 0;
  line-height: auto;
  width: fit-content;
  color: rgb(61, 184, 157);
}

#visualize:hover {
  color: white;
  background-color: rgb(61, 184, 157);
}
#visualize:hover .visualize-cont {
  color: white;
}

.hero {
  width: 100%;
  margin-bottom: 2rem;
}
h1 {
  line-height: 100%;
  margin-bottom: 0.5rem;
}
.github-top {
  text-decoration: none;
  color: black;
  line-height: 100%;
  font-family: "Marck Script";
  font-size: 24px;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-auto-rows: 1fr;
  width: 80%;
  height: 25rem;
  box-shadow: 1px 1px 5px #00000034;
}
.square {
  background-color: rgba(193, 214, 255, 0.7);
  border: 1px solid white;
}

.square:hover {
  background-color: rgba(175, 175, 175, 0.7);
}

.square.src {
  /* background-image: url("/images/flag-src.png");
  background-size: cover; */
  background-color: #161a4ec5;
}

.square.dest {
  /* background-image: url("/images/flag-dest.svg");
  background-size: cover; */
  background-color: #bd2d4cc5;
}

.square.block {
  /* background-image: url("/images/flag-dest.svg");
  background-size: cover; */
  background-color: #33272fc5;
  animation: scaleBlock 0.5s;
}
.square[type="check"] {
  /* background-image: url("/images/flag-dest.svg");
  background-size: cover; */
  background-color: #fff455c5;
  animation: scaleCheck 0.5s;
}
.square[type="path"] {
  background-color: #e749b2c5;
  animation: scalePath 1s forwards;
}

@keyframes scaleBlock {
  0% {
    transform: scale(0.8);
    border-radius: 10%;
  }
  100% {
    transform: scale(1);
    border-radius: 0;
  }
}

@keyframes scalePath {
  0% {
    transform: scale(1.2);
    background-color: blueviolet;
    border-radius: 30%;
  }
  100% {
    transform: scale(1);
    background-color: #e749b2c5;
    border-radius: 0;
    /* background-image: url("/images/arrow.svg");
    background-size: 120% 120%;
    background-position: center center;
    background-repeat: no-repeat; */
  }
}

@keyframes scaleCheck {
  0% {
    transform: scale(0.5);
    background-color: rgb(52, 195, 231);
    border-radius: 100%;
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(43, 226, 195);
    border-radius: 30%;
  }
  100% {
    transform: scale(1);
    background-color: #fff455c5;
    border-radius: 0;
  }
}

.algo-list {
  display: none;
  text-align: left;
  background-color: rgba(226, 226, 226, 0.87);
  padding: 0;
  position: absolute;
  z-index: 10;
  margin-top: 0.3rem;
}
.algo-button {
  list-style: none;
  padding: 0.5rem;
  border-bottom: 0.1rem white solid;
}

.algo-button:hover {
  background-color: rgba(158, 158, 158, 0.87);
}

.home-blob {
  -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
  width: 250px;
}
.home-blob-img {
  width: 300px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  /* background-color: rgb(241, 241, 241); */
}

.about-text {
  margin-right: 5rem;
  text-align: left;
  width: 30rem;
}
.subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.25em;
}

.full-name {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
h3 {
  margin-top: 5rem;
}

.contact-container {
  display: flex;
}

button.cv {
  border-radius: 0.2rem;
  border-color: transparent;
  background-color: rgb(59, 93, 138);
  font-size: 14px;
  font-family: "Poppins";
  cursor: pointer;
  color: white;
  font-weight: 300;
  margin-top: 0;
  margin-right: 0.5rem;
}

.button-text {
  margin-left: 0.3rem;
}

.contact-text {
  font-weight: 300;
  font-size: 14px;
  margin-left: 0.3rem;
}

.contact-info {
  text-align: left;
  margin-left: 1rem;
}

.contact-item {
  list-style-type: none;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.wave {
  z-index: -1;
  width: 100%;
  position: absolute;
}

.bottom-sect {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5rem;
}
button.grade-sheet {
  border-radius: 0.2rem;
  border-color: transparent;
  background-color: rgb(59, 138, 112);
  font-size: 14px;
  font-family: "Poppins";
  cursor: pointer;
  color: white;
  font-weight: 300;
  margin-top: 0;
  margin-right: 0.5rem;
}

button.deans-list {
  border-radius: 0.2rem;
  border-color: transparent;
  background-color: rgb(45, 142, 172);
  font-size: 14px;
  font-family: "Poppins";
  cursor: pointer;
  color: white;
  font-weight: 300;
  margin-top: 0;
  margin-right: 0.5rem;
}

.bottons-container {
  display: flex;
}
